:root {
  --black: #3a3a3a;
  --white-1: #d4d4d4;
  --white-2: #efefef;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'VT323', monospace;
  box-sizing: inherit;
  background-color: var(--white-2);
  color: var(--black);
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: 32px auto;
  gap: 64px;
  display: flex;
  align-items: center;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  align-content: center;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.grid div {
  user-select: none;
}

.config__grid.selected {
  background-color: var(--black);
  color: var(--white-2);
}

.selected--rainbow {
  background: linear-gradient(
    90deg,
    rgba(235, 125, 156, 1) 0%,
    rgba(135, 232, 150, 1) 50%,
    rgba(105, 132, 233, 1) 100%
  );
}

.config__grid {
  border: none;
  background-color: var(--white-1);
  border: none;
  font-family: inherit;
  padding: 8px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.config__grid:hover {
  background-color: var(--black);
  color: var(--white-2);
}
