:root {
  --black: #3a3a3a;
  --white-1: #d4d4d4;
  --white-2: #efefef;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'VT323', monospace;
  box-sizing: inherit;
  background-color: var(--white-2);
  color: var(--black);
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: 64px auto;
  gap: 64px;
  display: flex;
  align-items: center;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  align-content: center;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.grid div {
  user-select: none;
}

button {
  border: none;
  padding: 8px 16px;
  width: 15ch;
  background-color: var(--white-1);
  border: 1.5px solid var(--black);
  font-family: inherit;
}

button:hover {
  background-color: var(--black);
  color: var(--white-2);
}
